*{
    margin: 0px auto;
    padding: 0px auto;
}

body{
    margin-top: 0px;
    background-color: #271f3b;
}

.header{
    height: 150px;
    width: 100%;
    background-color: white;
}

.footer{
    height: 50px;
    width: 100%;
    background-color: #282a2b;
}